/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.clj-kondo/
/.lsp/
*.log
*.aux
*.pdf
*.el
/sprawko/snippets/
*.pygtex
*.pygstyle
/sprawko/_region_.tex
/sprawko/sprawozdanie.prv/
/sprawko/sprawozdanie.synctex.gz
